<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
detail <br/>
id : <input type="number" id="input_id" readonly="readonly"/> <br/>
deleted : <input type="checkbox" id="input_deleted" /> <br/>
userId : <input type="text" id="input_userId" /> <br/>
title : <input type="text" id="input_title" /> <br/>
content : <input type="text" id="input_content" /> <br/>
img : <input type="text" id="input_img" /> <br/>
countlike : <input type="number" id="input_countlike"/> <br/>
liked : <input type="checkbox" id="checkbox_liked"  onchange="toggle_postlike()"/> <br/>
<img id="image_img" style="height: 100px"/><br/>
imgs :
<div id="div_imgs"></div><br/>
<button onclick="detail_post()">조회하기</button>
<!--<button onclick="toggle_postlike()">좋아요!</button>-->
<button onclick="update_post()" id="btn_update" class="hide btn_mine">수정하기</button>
<button onclick="delete_post()" id="btn_delete" class="hide btn_mine">삭제하기</button>

<script>
    let userId = localStorage.getItem("userId");

    function watch_postlike(){
        $.ajax({
            url: '/api/postlike/watch',
            method: 'GET',
            contentType : 'application/json; charset=utf-8',
            data : {
                userId : userId,
                postId : $("#input_id").val()
            },
            success: function (data, status, xhr) {
                //alert("data : " + JSON.stringify(data));
                $("#checkbox_liked").prop("checked", data["isLiked"]);
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
    function toggle_postlike(){
        let checkbox_liked = $("#checkbox_liked").prop("checked");
        $.ajax({
            url: '/api/postlike/toggle',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify({
                userId : userId,
                postId : $("#input_id").val(),
                like : checkbox_liked
            }),
            success: function (data, status, xhr) {
                //alert("data : " + JSON.stringify(data));
                let countlike = data["countlike"];
                $("#input_countlike").val(countlike);
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
    function delete_post(){
        $.ajax({
            url: '/api/post',
            method: 'DELETE',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify({
                id : $("#input_id").val()
            }),
            success: function (data, status, xhr) {
                alert("data : : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
    function update_post(){
        $.ajax({
            url: '/api/post',
            method: 'PUT',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify({
                id : $("#input_id").val()
                , deleted : $("#input_deleted").prop("checked")
                , title : $("#input_title").val()
                , content : $("#input_content").val()
            }),
            success: function (data, status, xhr) {
                alert("data : : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }

    $(function(){
        let tempHref = location.href;
        let tempArray = tempHref.split("/");
        if(tempArray.length > 0){
            tempHref = tempArray[tempArray.length -1];
        }
        tempArray = tempHref.split("?");
        if(tempArray.length > 0){
            tempHref = tempArray[0];
        }
        $("#input_id").val(tempHref);
        detail_post();
    });
    function detail_post(){
        $.ajax({
            url: '/api/post',
            method: 'GET',
            data : {
                id : $("#input_id").val()
            },
            success: function (data, status, xhr) {
                //alert("data : : " + JSON.stringify(data));
                let post = data;

                let nowUserId = post["userId"];
                //alert(nowUserId);
                if(userId + "" === nowUserId + ""){
                    //alert("내 글인데요!!");
                    $(".btn_mine").removeClass("hide");
                }

                let tempKeys = Object.keys(post);
                for(let each of tempKeys){
                    let tempType = $("#input_" + each).attr("type");
                    if(tempType === "checkbox"){
                        $("#input_" + each).prop("checked", post[each]);
                    } else {
                        $("#input_" + each).val(post[each]);
                    }
                }

                $("#image_img").attr("src", post["img"]);

                let imgs = post["imgs"];
                for(let each of imgs) {
                    $("#div_imgs").append(
                    '<img src="'+each["img"]+'" style="height: 100px"/> <br/>'
                    );
                }

                //좋아요 했는지 여부 확인!
                watch_postlike();
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>